<!DOCTYPE html>
<title>Home</title>

<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}"/>
<div class="container">
<h1>Home page of <b>Post Manager</b></h1>
    <a class="btn btn-outline-danger" href="/dashboard">Dashboard</a>
    <p>This is a Post manager site for you to send your posts.</p>
    <br/>
    <p>Posts</p>
    <ul class="py-2">
    {% if posts %}
        {% for post in posts %}
            <a class="btn btn-outline-primary sm" href="/post/{{ post.id+1 }}">{{ post.title }}</a><br/>
        {% endfor %}
    {% else %}
        <p class="text-danger">No posts found</p>
    {% endif %} 
    </ul>
    <br/>
    <p>Users</p>
    <ul>
        {% if users %}
        {% for user in users %}
        <a class="btn btn-outline-warning" href="/posts/{{ user.username }}">{{ user.username }}</a>
        <br/>
        
        {% endfor %}
        {% else %}
        <p class="text-danger">No Users</p>
        <br/>
        {% endif %}
    </ul>
    <a class="text-muted" href="/send_yours">Send your own post here!</a>

    <br/>