<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts of {{ author }}</title>
</head>
<body>
    <h1>Posts of {{ author }}</h1>
    <ul>
        {% for post in posts %}
        <!-- find the author name in the list-->
        {% if post.author == author %}
        <li>
            <a href="/post/{{ post.id }}">{{ post.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</body>
</html>