<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send your own post!</title>
</head>
<body>
    <h1>send your own post</h1>
    <form action="/send" method="post">
        <label for="title">Title:</label><br/>
        <input required type="text" name="title" id="title"><br/>
        <label for="content">Content:</label><br/>
        <textarea required name="content" id="content" cols="30" rows="10"></textarea><br/>
        <label>You are sending this post as {{ author }}!</label><br/>
        <input type="submit" value="Send">
</body>
</html>